<% if @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
  <% else %>

<h4><%= t(@title) %></h4>

<p>
  <b><%= t('Contract Id') %></b>
  <%= @contract.id %>
</p>
<p>
  <b><%= t('Paid Amount') %></b>
  <%= number_with_precision(@payment.paid_amount, :precision => 2) %>
</p>
<p>
  <b><%= t('Payment Via') %></b>
  <%= @payment.payment_via %>
</p>

<p>
  <b><%= t('Received Date') %></b>
  <%= @payment.received_date %>
</p>
<p>
  <b><%= t('Received By') %></b>
  <%= @payment.received_by.name if @payment.received_by_id.present? %>
</p>
<p>
  <b><%= t('Last Updated By') %></b>
  <%= @payment.last_updated_by.try(:name) %>
</p>
<p>
    <b><%= t('Brief Note') %></b>
    <%= @payment.brief_note %>
  </p>
  
  <table class="table table-striped">
	  <tr>
	    <th>
			<%= link_to t('Back'), SUBURI + "/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>
			<%= link_to t('Delete'), payment_path(@payment), :method => :delete, data: {:confirm => I18n.t('Delete the record?')}, :class => BUTTONS_CLS['danger'] if has_action_right?('destroy', params[:controller], @payment) %>
       </th>
  </tr>
</table>


<% end %>
